[submodule "ansible/roles/etckeeper"]
	path = ansible/roles/etckeeper
	url = https://github.com/kofonfor/ansible-role-etckeeper.git
[submodule "ansible/roles/common-utils"]
	path = ansible/roles/common-utils
	url = https://github.com/kofonfor/ansible-role-common-utils.git
[submodule "ansible/roles/stouts.openvpn"]
	path = ansible/roles/stouts.openvpn
	url = https://github.com/kofonfor/Stouts.openvpn.git
[submodule "ansible/roles/openvpn-otp-plugin"]
	path = ansible/roles/openvpn-otp-plugin
	url = https://github.com/kofonfor/ansible-role-openvpn-otp-plugin.git
